{% extends "base.html" %}
{% set active_page = "XSS" %}
{% block title %}XSS{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>Cross-Site Scripting</h1>
		<div class="col-md-3">
			<ul class="nav nav-stacked" id="side-nav" data-spy="affix" data-offset-top="75">
				<li><a href="#nav-introduction">Introduction<span class="glyphicon glyphicon-chevron-right"></span></a></li>
				<li><a href="#nav-howitworks">How It Works?<span class="glyphicon glyphicon-chevron-right"></span></a></li>
				<li><a href="#nav-sop">Same-Origin Policy<span class="glyphicon glyphicon-chevron-right"></span></a></li>
				<li><a href="#nav-cors">Google Gruyere<span class="glyphicon glyphicon-chevron-right"></span></a></li>
			</ul>
		</div>
		
		<div class="col-md-9" role="main" data-spy="scroll" data-target="#side-nav">
			<div id="nav-introduction">
				<h2>Introduction</h2>
				<p>
					The Cross-Site Scripting (XSS) attack has gained noterity for being a rather popular attack because of the ease to conduct 
					such an attack as well as the general lack of defense from web developers. Sites such as Facebook, Google, and more have 
					fallen victim to these sorts of attacks.
				</p>
				<p>On this page, we will explain what a XSS attack is, how it works, and introduce you to Google Gruyere.</p>
			</div>
			
			<div id="nav-howitworks">
				<h2>How It Works?</h2>
				<p>
					XSS attack attacks work by either injecting code into the site, or sending a malicious request to the sites server.
					Injection attacks take advantage of Hyper-Text Markup Language (HTML) that compose websites. The HTML for this very page 
					can be viewed on modern versions of Firefox, Chrome, and Internet Explorer by pressing F12. For those unfamiliar with HTML are 
					recommended to check out <a href="http://www.codecademy.com/courses/html-one-o-one/0/1">this</a> interactive tutorial.
				</p>
				<p>
					Because HTML is a markup language, different types of content is denoted by tags.  Typical HTML tags include 'body', 
					'p', or 'h1'.  To run JavaScript in HTML, the code must be contained within a 'script' tag.  For example, to display
					an alert dialog:
				</p>
				<pre>&lt;script&gt;alert('This text will display in a popup');&lt;/script&gt;</pre>
				<p>
					In HTML there exists safe ways to display reserved characters such as '&lt;' by writing '&amp;lt;' for '&lt;'.  For example, 
					<code>&lt;title&gt;</code> can be displayed by writing <code>&amp;lt;title&amp;gt;</code>.  This is called character escaping.  
					Without character escaping, ANY instance of &lt; would cause your browser, which is reading an HTML document to display this page, 
					to interpret the &lt; character as the start of a tag. 
				</p>
				<p>
					For web developers creating static pages, this isn't too big of a problem.  If a web page cannot be changed maliciously through JavaScript 
					manipulation, then the web page has relatively low risk of being targeted by malicious attacks.  However, message boards, 
					forums, comment systems, e-mail listings, and the like require the submission of user data that will then be displayed on sites. 
					Without proper cleaning to remove possible malicious code, a user can type a script into a textbox to run JavaScript.  For example, a user 
					may enter their name as:
				</p>
					<pre>&lt;script&gt;alert('Malicious code');&lt;/script&gt;</pre> 
				<p>
					The browser will interpret this as a script tag and JavaScript written by the developer and will run the script for any other user who
					loads the page.  This is called a Cross-Site Scripting (XSS) attack.  More on these sorts of attacks can be found <a href="#nav-gruyere">below</a>.
				</p>
			</div>
			
			<div id="nav-sop">
				<h2>Same-Origin Policy</h2>
				<p>
					In order to help combat against XSS attacks, all modern browsers use a standard called the Same-Origin Policy (SOP).  This policy limits 
					server requests to be made within the same origin as the client page.  This limits the amount of damage a potential attacker can do as
					they are unable to send maliciously acquired data or insert inappropriate data from their own personal servers during a XSS attack.  This
					means malicious code injected into CNN.com cannot call malicious code from Hacker.ru.
				</p>
				<p>
					Unfortunately, the policy has a negative side-effect of limiting legitimate web developers from performing valid requests cross-domain.  
					These type of requests are important now more than ever with the ever expanding Internet.
				</p>
			</div>
			
			<div id="nav-gruyere">
				<h2>Guided Examples with Gruyere</h2>
				<p>
					Recently Google released Gruyere, an educational tool to help users gain firsthand experience on what a XSS attack is, 
					the ease of its launch, and an idea of how to prevent an attack.  The project runs on a controlled but unsecure mock-website 
					which allows developers to try their hand at a XSS attack.  The full Gruyere project, along with its 
					tutorials on how to exploit and then defend their system, can be found <a href="http://google-gruyere.appspot.com/">here</a>. 
					Here we will give you a quick rundown of some of Google's examples to show the dangers of these attacks.
				</p>
				<p>
					First, visit <a href="http://google-gruyere.appspot.com/start">Google Gruyere</a> to start using Gruyere and sign up for the
					service by creating a username and password.  It's important to remember that this experiment is unsecure and the webpage 
					given is an example of a very dangerous webpage to visit. Entering personal information is not recommended.
				</p>
				<p>
					After signing up, click the 'home' button to start your mischief. For these examples, we'll be injecting the 'alert()' JavaScript
					command that I have used throughout this page.  Remember, the alert command will provide easy feedback (a popup), while 
					still being pretty harmless (you don't want to launch an attack on yourself!). It can be assumed that if you can run the 
					alert function on a page, you'd also be able to run some arbitrary code.
				</p>
				<p>
					The first attack doesn't require you to submit anything to the site. The point of injection will be the link for the 
					site itself.  Construct a URL by taking the current URL of the site and adding to the end of the URL:
				</p>
				<pre>/&lt;script&gt;alert(1)&lt;script&gt;</pre>
				<p>
					Then try visiting the link yourself - an alert will pop up. If you had tricked a user into visiting 
					that link instead of the regular link for the site, malicious code could be the product.
				</p>
				<p>
					The second attack is created by adding a new snippet. Click 'add snippet' at the top of the page and, for the snippet, 
					enter the text:
				</p>
				<pre>&lt;a onmouseover="alert(1)" href="#"&gt;read this!&lt;/a&gt;</pre>
				<p>
					Submit and return to the homepage - your snippet should be one of the snippets on the page- a link saying 'read this!' 
					Hovering over the link will give an example of an attack being launched!
				</p>
				<p>
					For the final example, the refresh button on the home page will be hijacked. Create a new Snippet, but this time place 
					this as the text: 
				</p>
				<pre>This &lt;span style=display:none&gt;" + (alert(1),"") + "&lt;/span&gt; Snippet sure isn't suspicious!</pre>
				<p>
					To see this attack in action, submit it and click the 'refresh' button on the homepage. The refresh button as successfully 
					been hijacked by a quick and easy XSS attack!
				</p> 
			</div>
	</div>
</div>
{% endblock %}